/* FOOTER */
.footer{
    background-color: black;
    margin: 0;
    margin-top: 5rem;
}
.footer__contenedor{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}
.footer__copyright{
    color: white;
    margin: 0;
}

.footer__redes {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
.footer__redes a{
    margin-right: 15px;
}
.footer__redes a i{
    color: white;
    font-size: 1.8rem;
}