/* hero */
.hero {
    background-image: url(../img/fondo_02.jpg);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
}
.hero__shadow{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
}
.hero__img{
    border-radius: 50%;
    margin-bottom: 10px;
    width: 125px;
}
.hero .contenedor{
    /* display: grid;
    align-content: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.hero .contenido{
    margin-top: 7rem;
    text-align: center; 
    color: var(--claro);
}
.titulo{
    margin: 0;
}
.subtitulo{
    font-size: 1.6rem;
}
.hero__about{
    font-size: 1.2rem;
    line-height: 1.8rem;
    width: 90%;
    margin: 20px auto;
}
@media screen and (min-width: 768px) {
    .hero .contenido{
        background-color: unset;
    }
    .hero__img{
        width: 150px;
    }
    .hero__about{
        width: 50%;
        margin: 0 auto;
        margin-top: 15px;
    }
}
@media screen and (min-width: 998px) {
    .hero .contenido{
        background-color: unset;
        /* position: absolute;
        top: 30%;
        left: 19%; */
        margin-top: 100px;
    }
    .hero__img{
        width: 150px;
    }
    .hero__about{
        width: 50%;
        margin: 0 auto;
        margin-top: 15px;
    }

}
.center-hero{
    width: 100%;
    margin: 0 auto;
}