.proyecto{
	margin-bottom: 4rem;
	border: 2px solid black;
	position: relative;
}
.proyecto__shadow{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	background-color: rgba(0,0,0,0);
	transition: .4s ease-in-out;
}
.proyecto__shadow:hover{
	background-color: rgba(0,0,0,.8);
}
.proyecto__descripcion{
	color: white;
	opacity: 0;
	transition: .4s ease-in-out;
	width: 70%;
	margin: 0 auto;
}
.proyecto__shadow:hover .proyecto__descripcion{
	opacity: 1;
}
.proyecto__enlace{
	display: inline-block;
		color: white;
		opacity: 0;
		transition: .4s ease-in-out;
		margin: 0 auto;
		margin-top: 10px;
		font-size: 1.4rem;
		border: 1px solid white;
		padding: 6px 25px;
		border-radius: 20px;


}
.proyecto__shadow:hover .proyecto__enlace{
	opacity: 1;
}
.proyecto__img{
	object-fit: cover;
	width: 100%;
	height: 200px;
	object-fit: fill;
}
.proyecto__title{
	font-size: 1.6rem;
	color: rgb(46, 46, 139);
	width: 50%;
	margin: 2rem auto;
}

.proyecto__tecnologias{
	display: grid;
	grid-template-columns: repeat(3,1fr);
}

@media screen and (min-width: 768px) {
	.proyecto{
		width: 300px;
	}
	.proyecto__shadow:hover{
		background-color: rgba(0,0,0,.6);
	}

}