.servicio ul li{
    list-style: none;
    margin-bottom: .6rem;
    font-size: 1.2rem;
    text-align: left;
}

.servicio ul li:last-of-type{
    margin-bottom: 0;
}
.servicio ul{
    font-size: 1.5rem;
}
.servicio ul i{
    font-size: 1.3rem;
}

.servicio ul i::after{
    content: "\2007"
}