.servicio__descripcion{
    margin-bottom: 50px;
}
.servicio__tecs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 5px;
}
.servicio__tec{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.servicio__icono{
    width: 50px;
}
.servicio__nombre{
    font-size: 1rem;
    margin: 0;
}