:root {
  --fuentePrincipal: 'Gothic A1', sans-serif;
  --fuenteSecundaria:  'Oswald', sans-serif;
  --primario: #F1A94E;
  --secundario: #44B3C2;
  --claro: #FFFFFF;
}


/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body{
  font-family: var(--fuenteSecundaria);
}

.contenedor{
  max-width:  1100px;
  margin: 0 auto;
}
img{
  max-width: 100%;
}
h1{
  font-size: 2.8rem;
}
h2{
  font-size: 2.6rem;
}
h3{
  font-size: 2.4rem;
}
p{
  font-family: var(--fuentePrincipal);
  font-size: 1.2rem;
  line-height: 2rem;
}
a{
  text-decoration: none;
}
/* SERVICIOS */
.servicios{
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 8rem;
}
.servicios h2{
  padding-bottom: .5rem;
}
.servicios h2::after{
  height: .5rem;
  width: 7rem;
  background-color: rgb(46, 46, 139);
  content: '';
  display: block;
  margin: 1rem auto 0 auto;
}

.servicios i {
  font-size: 3rem;
  color: var(--secundario);
}

@media screen and (min-width: 768px) {
  .servicios{
      display: grid;
      grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
      column-gap: 2rem;
  }
}

/* PROYECTOS */
.portafolio{
  padding: 1rem;
  text-align: center;
}
.portafolio__title{
  margin: 5rem 0 7rem 0;
}

.portafolio__listado {
  margin-top: 2rem;
}


@media screen and (min-width: 768px) {
  .portafolio__listado {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    width: 80%;
    margin: 0 auto;
  }
}
